# Development-only defaults. Do not use these values in production.
POSTGRES_DB=drcare
POSTGRES_USER=drcare
POSTGRES_PASSWORD=DrCareLocalDbPassword123!
JWT_SIGNING_KEY=DrCareLocalJwtKey_ChangeThis_123456789
DEVELOPMENT_ADMIN_PASSWORD=DrCareAdminPassword123!
AWS__REGION=ap-southeast-1
STORAGE__PROVIDER=Local
STORAGE__S3__BUCKETNAME=replace-with-a-private-bucket-name
LOCAL_STORAGE_SECRET=DrCareLocalStorageSecret_ChangeThis_123456789
